<h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the button:
</p>

<a href={{"http://localhost:5173/verify-email/?token=" ~ token}}>Activate</a>

<p>
    Cheers!
</p>
